<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
<!--------------NAVBAR----------------------->
        <nav class='navbar mt-3'>
            <h1>Hello {{user.first_name}}! Make a wish!</h1>
            <u>
                <a href='/logout'>Logout</a>
            </u>
        </nav>
<!-------------WISH MANAGER--------------->
        <div class='row py-5 text-danger justify-content-left'>
            {%if messages%}
            <ul class="list-unstyled d-inline-block">
                {%for message in messages%}
                <li class="text-left">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
<!----------MAKE A WISH----------------->
        <div class="row">
            <div class="col border p-4">
                <form action='/making_wish' method='post'>
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class='col-3'>I wish for:</label>
                        <input class="col-6 form-control" type="text" name="wish">
                        <div class="col"></div>
                    </div>
                    <div class="form-group row">
                        <label class='col-3'>Description</label>
                        <input class="col-6 form-control" type="text" name="desc">
                        <div class="col"></div>
                    </div>
                    <div class="row justify-content-center">
                        <a href='/wishes' class='border btn-lg btn-light mx-2'>Cancel</a>
                        <button class='btn-lg border btn-light mx-2'>Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-5">
            </div>
        </div>
    </div>
</body>
</html>